.authentificationBackground {
  background: #dad1c0;
  background: radial-gradient(circle at center, #dad1c0, #9e836e);
  height: 100%;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.header {
  background: linear-gradient(to top right, #dad1c0, #9e836e);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  position: fixed;
  width: 100%;
}
.onglet {
  position: fixed;
  top: 105px;
  a {
    background: var(--primary);
    padding: 4px 13px 5px 8px;
    margin: 1px;
    border-radius: 0 0 20px 5px;
  }
}

.leftHeader {
  position: sticky;
  margin-top: 105px;
  top: 105px;
  overflow: auto y;
  min-width: 276px;
  width: 15%;
}
